{% extends 'base.html' %}


{% block title %}{{ blog.title }}{% endblock %}

{% block blog_active %}active{% endblock %}


{% block content %}

<section class="Myblog-main-middle">
    <article class="MyBlog-detail">
        <div class="MyBlog-detail-body">
            <h1 class="MyBlog-detail_title">{{ blog.title}}</h1>
            <!--<p>作者：{{ blog.author }}</p>-->
            <div class="MyBlog-detail_info">
                <!--发布时间-->
                <span class="MyBlog-detail_date"> <i class="far fa-calendar-alt"></i> {{blog.created_time|date:'m-d-Y'}}</span>
                <!--博客种类-->
                <span class="MyBlog--detail_type"><svg class="icon icon-bq" aria-hidden="true">
                    <use xlink:href="#icon-2"></use>
                </svg><a href="{% url 'blogs_with_type'  blog.blog_type.pk %}">{{ blog.blog_type }}</a></span>
                <!--阅读数-->
                <span class="MyBlog-detail_views"><i class="fa fa-search" aria-hidden="true"></i>
{{blog.get_read_num}}</span>
            </div>

            <p class="MyBlog-detail_content">{{ blog.content|safe }}</p>

        </div>
    </article>
    <div class="blog-more">
        <p class="article-number">Previous:
            {% if previous_blog %}
            <a href="{% url 'blog_detail' previous_blog.pk %}">{{ previous_blog.title }}</a>
            {% else %}
            No more blog
            {% endif %}
        </p>
        <p class="article-number">Next:
            {% if next_blog %}
            <a href="{% url 'blog_detail' next_blog.pk %}">{{ next_blog.title }}</a>
            {% else %}
            No more blog
            {% endif %}
        </p>
    </div>
</section>

<section class="Myblog-main-right">
    <div class="Myblog-main-right_type">
        <ul>
            {% for blog_type in blog_types %}
            <li><a href="{% url 'blogs_with_type' blog_type.pk %}">
                {{blog_type.type_name}}({{blog_type.blog_count}})</a>
            </li>
            {% empty %}
            <li>暂无分类</li>
            {% endfor %}
        </ul>
    </div>

    <div class="Myblog-main-right_date">
        <ul>
            {% for blog_date, blog_count in blog_dates.items %}
            <li><a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                {{blog_date|date:"m-Y"}}（{{blog_count}}）
                <!--{{ blog_date.year }} 年 {{ blog_date.month }} 月-->
            </a>
            </li>
            {% empty %}
            <li>暂无博客</li>
            {% endfor %}
        </ul>
    </div>


</section>

{% endblock %}


