* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 1.1rem;
}
.MyBlog-body {
    min-height: 100vh;
    background-color: #EFF0F1;
    }
header,
footer {
    display:flex;
    flex: 1;
}

.MyBlog-main {
    display: flex;
    flex: 1;
    justify-content:center;
    background-color: #EFF0F1;
    overflow:visible;
    margin-bottom:2.5rem;
    min-height:54rem;
}

li{
list-style-type:none;
}

.MyBlog-list-body_title{
padding-top:0.7rem}

.MyBlog-list-body_title,a {
    text-decoration: none;
    color: #4c4c4c;
}


.article-number{
  color: grey;
  margin-bottom:0.3rem;
  margin-top:1rem;
}

.article-number a,
.MyBlog-list-body_title:hover,
.MyBlog-list-body_type a:hover,
.Myblog-main-right a:hover{
 color: #9fd1a3;
}

.Myblog-main-right ul{
padding-top:0.5rem;
padding-bottom:0.5rem
}

.Myblog-main-right a{
color:grey;
text-decoration:underline}

.Myblog-main-middle{
margin-top:1rem;
flex:0.45;
margin-right:1rem;
background-color:white;
margin-bottom:2rem;
border-radius:2px;}

.Myblog-main-right{
flex:0.15;
height:30%;
margin-left:1rem;
margin-top:1rem;
}

.Myblog-main-right_type{
background-color:white;
border-radius:2px;
}

.Myblog-main-right_date{
background-color:white;
border-radius:2px;
}

.Myblog-main-right ul{
margin-bottom:1rem;
margin-left:1rem;
}

.Myblog-main-right ul li{
margin-bottom:0.7rem;
}

.MyBlog-menu {
    display:flex;
    align-items: center;
    height: 3rem;
    filter: alpha(opacity=70);
    flex:1
}

.MyBlog-menu ul {
    display: flex;
    flex: 0.33;
    list-style: none;
}

.MyBlog-menu ul li {
    border-radius: 7px;
    margin-left: 1.7rem;
}

.MyBlog-menu a {
color:grey}

.MyBlog-menu ul li a:hover,.active a{
 color: #9fd1a3;
}

.Myblog-home-poem{
background:white;
height:30%;
padding:1rem;}

.Myblog-home-poem h5{
display:flex;
justify-content:center;

}

.Myblog-home-poem,#container,.hot_read_data{
margin-top:2rem;
margin-right:5rem;
border-radius:2px;
}

.Myblog-main-right_type h1{
padding:1rem 1rem 0 1rem;
color:grey
}

.MyBlog-list:hover {
    background-color: #fbfbfb;
}

.MyBlog-list{
    border-bottom: 1px solid rgba(246, 246, 246, .3);
    height:10rem;
    width:100%;
    position:relative;
    border-radius:2px;
    margin-top:-6px;
}

.MyBlog-list-body{
    margin:0.00001rem 1rem 0.3rem 1rem;
}

.MyBlog-list-body_content{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color:grey;
}

.MyBlog-detail-body{
padding:1rem;}

.MyBlog-detail_info,.MyBlog-detail_info a{
padding-top:1rem;
padding-bottom:1rem;
}

.MyBlog-detail_info a:hover{
 color: #9fd1a3;
}

.blog-more{
margin-left:1rem}

.MyBlog-list-body_date,
.MyBlog-list-body_views,
.MyBlog-list-body_type,
.MyBlog-list-body_type a,
.MyBlog-detail_type,
.MyBlog-detail_views,
.MyBlog-detail_date,
.MyBlog-detail_info a,
.MyBlog-detail_info span {
    font-size: 0.8rem;
    color: grey
}

.MyBlog-list-body_info{
margin-left:1rem;
position: absolute;
bottom: 0.7rem;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-sy{
padding-bottom:1px;
width: 1.3em;
}

.icon-b{
margin-right:0.2rem
}

.icon-sz{
width: 0.7em;
height: 0.7em;
margin-bottom:0.08rem;
margin-right:0.2rem
}

.icon-yanjing{
width: 0.75em;
height: 0.75em;
}


.MyBlog-footer {
    position:fixed;
    width:100%;
    align-items: center;
    height: 3.5rem;
    justify-content:center;
    bottom: 0;
    background:white;
    }

.MyBlog-footer span{
color:grey}


/*
分页*/

.pageturn {
    clear: both;
    height: 30px;
    margin: 5px auto;
    display: table;
    text-align: center;
}

.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.pageturn li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.pageturn li:first-child {
    margin-left: 0;
}

.pageturn li:hover a, .pageturn .page-active {
    background: #9fd1a3;
    border-color: #eaeaea;
}

.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 28px;
    color: #6c6c6c;
}

.pageturn .long {
    width: 100px;
}

.pageturn .none a {
    border: 0;
}

.Myblog-main-middle-nav{
color:grey;
font-size:1rem;
border-bottom: 1px solid rgba(246, 246, 246, .3);
height:0.05rem;
padding-bottom:1.5rem}

.Myblog-main-middle-nav span{
margin-left:1rem;
font-size:0.8rem;
}



