* {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
    font-size: 1.1rem;
}

.MyBlog-body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
    }

header,
footer {
    display:flex;
    flex: 1;
}

.MyBlog-main {
    margin-top:2rem;
    display: flex;
    flex: 1;
    justify-content:center;
    margin-bottom:2rem;
}

li{
list-style-type:none;
}


.MyBlog-list-body_title,a {
    text-decoration: none;
    color: #4c4c4c;
}

.article-number{
  color: #4c4c4c;
  margin-bottom:0.3rem
}

.article-number a{
 color: #9fd1a3;
}

.Myblog-main-left{
flex:0.2;
order: -1;
}

.Myblog-main-middle{
flex:0.6}

.Myblog-main-right{
flex:0.15;
margin-left:2rem;
height:30%
}

.Myblog-main-right_tag{
height:2.1rem;
background-color:#9fd1a3;
opacity: 0.7;
display:flex;
align-items:center
}

.Myblog-main-right_tag span{
margin-left:1rem;
}

.Myblog-main-right a{
color: #9fd1a3;
}

.Myblog-main-right ul{
margin-top:1rem;
margin-bottom:1rem;
margin-left:1rem;
}

.Myblog-main-right ul li{
margin-bottom:0.7rem;
}

.MyBlog-menu {
    display:flex;
    align-items: center;
    border-bottom: 1px solid #e7e7e7;
    height: 3rem;
    opacity: 0.7;
    filter: alpha(opacity=70);
    flex:1
}

.MyBlog-menu ul {
    display: flex;
    flex: 0.33;
    list-style: none;
}

.MyBlog-menu ul li {
    border-radius: 7px;
    margin-left: 1.7rem;
}

.active a,a:hover {
    color: #9fd1a3;
}

.Myblog-home-poem {
    text-align:center;
      position: relative;
      top: 50%;
      transform: translateY(50%);
}

.MyBlog-list:hover {
    background-color: #fbfbfb;
}

.MyBlog-list{
    border: 1px solid #e7e7e7;
    margin-bottom: 0.3rem;
}

.MyBlog-list-body{
    margin:0.5rem 1rem 0.3rem 1rem;
}

.MyBlog-list-body_content{
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.MyBlog-list-body_date,
.MyBlog-list-body_views,
.MyBlog-list-body_type,
.MyBlog-list-body_type a
 {
    font-size: 0.8rem;
    color: grey
}

.MyBlog-list-body_type a {
    color: #9fd1a3;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon-sy{
padding-bottom:1px;
width: 1.3em;
}

.icon-b{
margin-right:0.2rem
}

.icon-sz{
width: 0.7em;
height: 0.7em;
margin-bottom:0.08rem;
margin-right:0.2rem
}

.MyBlog-footer {
    position:fixed;
    width:100%;
    align-items: center;
    height: 3.5rem;
    justify-content:center;
    background-color: #98eebc;
    opacity: 0.4;
    filter: alpha(opacity=40);
    bottom: 0;
    }

/*
分页*/

.pageturn {
    clear: both;
    height: 30px;
    margin: 50px auto;
    display: table;
    text-align: center;
}

.pageturn .pagelist {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
}

.pageturn li {
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    float: left;
    text-align: center;
}

.pageturn li:first-child {
    margin-left: 0;
}

.pageturn li:hover a, .pageturn .page-active {
    background: #9fd1a3;
    border-color: #eaeaea;
}

.pageturn a {
    border: 1px solid #eaeaea;
    display: block;
    height: 28px;
    color: #6c6c6c;
}

.pageturn .long {
    width: 100px;
}

.pageturn .none a {
    border: 0;
}

.article-number{
display:flex;
color:grey;
font-size:1rem;
justify-content: center}



