{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    {% block header_extends %}{% endblock %}
</head>
<body class="Myblog-body">
<div class="sub">
    <header class="MyBlog-header">
        <nav class="MyBlog-menu">
            <ul>
                <li class="{% block shouye_active %}{% endblock %}"><a href="/">
                    <!--<svg class="icon icon-sy" aria-hidden="true">-->
                        <!--<use xlink:href="#icon-shouye"></use>-->
                 <!--</svg>-->

                    <!--&ndash;&gt;<i class="fa fa-home" aria-hidden="true"></i>&ndash;&gt;-->

                    HOME</a></li>
                <li class="{% block blog_active %}{% endblock %}"><a href="/blog/">
                    <!--<svg class="icon" aria-hidden="true">-->
                        <!--<use xlink:href="#icon-weibiaoti1"></use>-->
                    <!--</svg>-->
                    BLOG</a></li>
                <li class="{% block poem_active %}{% endblock %}"><a href="/poem/">
                    <!--<svg class="icon" aria-hidden="true">-->
                        <!--<use xlink:href="#icon-weibiaoti1"></use>-->
                    <!--</svg>-->
                    POEM</a></li>
            </ul>
        </nav>
    </header>
    <main class="MyBlog-main">
        {% block content %}{% endblock %}
    </main>
    <footer class="MyBlog-footer"><span class="MyBlog-footer-info">Proudly making wheel using Django &copy;2018</span>
    </footer>
    <script src="http://at.alicdn.com/t/font_571117_kssmjvv1zvt2o6r.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"
            integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
            crossorigin="anonymous"></script>
</div>
</body>
</html>


